.navbar{
    height: 90px;
    background-color: black;
    color:red;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding-top: 17px;
    z-index: 100;
    box-shadow: 0px 2px 19px 5px grey;
    font-family: 'Tilt Prism';
    position: fixed;
    left: 0;
    right: 0;
    cursor: pointer;

}

@media(max-width:1000px){
    .navbar{
        padding-top: 25px;
        font-size: 40px;
    }
}