*{
    scroll-behavior: smooth;
   
}

body{
    color: white;
}

  .app {
    min-height: 100vh;
    background-color: rgb(49, 45, 45);
    color: white;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 110px;
    }
  }
  
  /* .trending_title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
  }
   */
  @media (max-width: 1000px) {
    .pageTitle {
      font-size: 6.4vw;
    }
  }