*{
    scroll-behavior: smooth;
   
}

body{
    background-color: rgb(49, 45, 45);
    color: white;
  
}

.app{
    min-height: 100vh;
    padding-top: 130px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .app {
      padding-top: 100px;
    }
  }